

  <article class="message is-info">
    <div class="message-body">
      <%= markdown(reply.reply) %>
    </div>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-item">
          <strong><%= reply.user.username %> </strong> - <small> <%= time_ago_in_words(reply.created_at) %></small>
        </div>
        <% if reply_author(reply) || has_role?(:admin) %>
          <div class="navbar-end">
            <div class="navbar-item">
              <%= link_to edit_incident_reply_path(reply.incident, reply) do %>
              <span class="icon is-small"><i class="fa fa-pencil"></i></span>
              <% end %>
            </div>
            <div class="navbar-item">
              <%= link_to [reply.incident, reply],
                  method: :delete, data: {confirm: "Are you sure ?" } do %>
              <span class="icon is-small"><i class="fa fa-trash-o"></i></span>
              <% end %>
            </div>
          </div>
        <% end %>      
      </nav>
  </article>

